nav{
    background-color: rgb(90, 90, 253);
}
header{
    background-color: rgb(166, 105, 223);
}
#main_content{
    background-color: rgb(158, 67, 67);
}

/* Now to actually code */

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}
/* Navbar styling*/
nav{
    box-sizing: border-box;
    grid-area: 1 / 1 / -1 / -2;
    height: 100vh;
    padding: 20px;

    display: grid;
    gap: 10px;
}
#nav_item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
/*header styling*/
header{
    display: grid;
    padding: 20px;
}
#top_line{
    display: flex;
    justify-content: flex-end;
}
#search_container{
    flex-grow: 3;
}
#bottom_line{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}