:root{
    --colorbackground: #fdf4ff;
    --colorpale: #f5d0fe;
    --colormidpale: #f0abfc;
    --colormiddark: #c026d3;
    --colordark: #86198f; 
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;

    font-family: 'Lato', sans-serif;
}
p, h1, h2, h3{
    margin: 0;
}
h3{
    font-size: medium;
}
/* Navbar styling*/
nav{
    background-color: var(--colormidpale);
    box-sizing: border-box;
    grid-area: 1 / 1 / -1 / -2;
    height: 100vh;
    padding: 20px;

    display: grid;
    gap: 10px;

    font-family: 'Satisfy', cursive;
}
#nav_item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
#nav_item a{
    text-decoration: none;
    color: black;
    line-height: 24px;
}
/*header styling*/
header{
    background-color: var(--colorbackground);
    display: grid;
    padding: 10px;
}
#top_line{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#top_line div{
    margin: 10px 5px;
}
#search_container{
    flex-grow: 3;
    display: grid;
    grid-template-columns: fit-content(30px) 1fr;
    align-items: center;
}
#search_container input{
    margin-right: 50px;
    margin-left: 20px;

    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);

}
.profile_img{
    height: 20px;
}
.profile_img img{
    max-width: 100%;
    max-height: 100%;
}
#bottom_line{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}
#big_prof_img{
    height: 50px;
}
#big_prof_img img{
    max-width: 100%;
    max-height: 100%;
}
#profile_welcome{
    justify-self: left;
    display: grid;
    justify-content: start;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img welcome"
                         "img name";
}
#profile_welcome *{
    margin: 0;
}
#profile_welcome div{
    grid-area: img;
}
#profile_welcome p{
    grid-area: welcome;
    align-self: end;
}
#profile_welcome h3{
    grid-area: name;
    align-self: start;
}
.header_button{
    min-width: 100px;
    background-color: var(--colordark);
    color: var(--colorbackground);
    border-radius: 50px;
    border: none;
    padding: 10px;
}
/*Main Content*/
#main_content{
    background-color: var(--colorpale);
    max-height: 80vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
    padding: 20px;
}
#project_area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 2fr;
    gap: 20px;
    justify-items: left;
    align-items: stretch;
}
#header{
    grid-area: 1 / 1 / 2 / 3;
}
#sidebar{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.project{
    background-color: var(--colorbackground);
    background-image: linear-gradient(90deg, var(--colormiddark) 0 2%, var(--colorbackground) 2% 100%);
    border-radius: 20px;
    padding: 20px;
    display: grid;
}
.icons{
    align-self: end;
    justify-self: right;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content h3{
    font-weight: bolder;
}
/*Sidebar*/
.sidebox{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.side_card{
    flex-grow: 1;
    background-color: var(--colorbackground);
    padding: 20px;
    border-radius: 5px;
    display: grid;
    gap: 10px;
}
#announcements{
    grid-template-rows: 1fr min-content 1fr min-content 1fr;
}
#trending{
    grid-template-rows: 1fr min-content 1fr min-content 1fr min-content 1fr;
}
#sideheader h2{
    margin: 10px 0 20px 0;
}
.divider{
    border: 1px solid rgba(128, 128, 128, 0.6);
}
.annoucement p{
    font-size: small;
}
.trending_profile{
    display: grid;
    justify-content: start;
    grid-template-columns: 70px 1fr;
    gap: 5px;
}
.trending_profile .profile_img{
    height: 50px;
    align-self: center;
}
#profile_tag{
    display: grid;
    grid-template-rows: auto;
}
#profile_tag h3{
    font-size: x-large;
    font-weight: bolder;
    align-self: end;
}
#profile_tag p{
    font-size: small;

}